*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --main-color:rgb(102, 240, 102);
  --color-cont:#999;
  --white-color:#fff;
body{
  font-family: 'Nunito', sans-serif;
  background-color: var(--main-color);
  overflow-x: hidden;
}
.container{
  max-width:30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color-cont);
  margin: auto;
  border-radius: 0.6rem;
  padding: 1rem 0;
  margin-top: 5rem;
}
.container img{
  width: 8rem;
}
.container h1{
  text-transform: uppercase;
  font-size: 1.5rem;
}
#prizeDraw{
  width: 90%;
  height: 3rem;
  outline: 0;
  text-align: center;
  border: none;
  border-radius: 0.4rem;
}
input[type="submit"],
input[type="reset"]{
  width: 5rem;
  height: 2rem;
  margin-bottom: 0.6rem;
  border: none;
  border-radius: 0.3rem;
  font-weight: 300;
  margin: 0.5rem;
  cursor: pointer;
}
.container input[type="submit"]:hover,
input[type="reset"]:hover{
  background: var(--main-color);
  color: var(--white-color);
}
#result{
  width: 90%;
  height: 4rem;
  background: var(--white-color);
  border-radius: 0.4rem;
  text-align: center;
  padding: 0.5rem;
}

/*RESPOSIVO*/
@media(max-width: 768px){
  .container{
    max-width:70%;
    margin-top: 3rem;
  }
  label{
    font-size: 0.8rem;
  }
}

@media(max-width: 425px){
  .container{
    max-width:90%;
    margin-top: 2rem;
  }
  .container img{
    width: 6rem;
  }
}

@media(max-width: 375px){
  .container{
    max-width:90%;
    margin-top: 2rem;
  }
  .container img{
    width: 6rem;
  }
}

@media(max-width: 320px){
  .container{
    max-width:90%;
    margin-top: 2rem;
  }
  .container img{
    width: 6rem;
  }
  #prizeDraw{
    width: 90%;
  }
  #result{
    width: 90%;
  }
}
